body {
    background-color: black;
}

#splashTitle {
    color: white;
    font-size: 72px;
    font-family: "Palatino", "Georgia";
}


#hero-wrapper {
    position: relative;
    margin-bottom: -6px;
}

.bgimage h1 {
    color:white;
    text-shadow:2px 2px #333;
}

.red {
      -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(500%) contrast(0.65);
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.full-height {
    height: 100%;
}

.center-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-content {
    position: absolute;
    top: -65vh;
    width: 90%;
}

#content-wrapper {
    min-height: 800px;
    background-color: whitesmoke;
}

#forum-wrapper {
    margin-top: 100px;
    width: 100%;
    margin-bottom: 60px;
}

.input-wrapper {
    width: 100%;
}

.carousel {
    width: 100%;

}

.carousel-inner > .carousel-item > .input-wrapper {
  margin: 0 auto;
}

.input-wrapper {
    border: 2px solid gray;
    border-radius: 5px;
    margin: auto;
    height: 300px;
    width: 800px;
}

.input-card {
    width: 70%;
    margin: auto;
}

.prompt {
    margin: 10px;
}

.progress {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 50px;
}

.progress-bar {
    width: 0%;
    -webkit-transition: width .6s linear;
    transition: width .6s linear;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#nextBtn1 {
    float: right;
}

.foot {
    background-color: gray;
    color: darkgray;
}

#addBtn {
    margin-bottom: 40px;
    color: white !important;
}

#remBtn {
    margin-bottom: 40px;
    color: white !important;
}

.collegeName {
    margin-bottom: 10px;
}

.progress {
  background-color: #aaa;
  -webkit-box-shadow: none;
  box-shadow: none;
}
