.bgimage {
    width:100%;
    height:500px;
    background: url('https://via.placeholder.com/300.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

.bgimage h3 {
    color:white;
    text-shadow:2px 2px #333;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.full-height {
    height: 100%;
}

.center-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-content {
    width: 90%;
}