.main-site {
	flex-grow: 1;
	float: left;
	min-height: 100%;
	width: 100%;
	background-position: center center;
}

@media only screen and (min-width: 1020px) {
	.container {
		background-color: #fbfaf6;
		width: 80%;
		margin: 3rem auto;
		padding: 3rem 6rem;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	}
}

@media only screen and (max-width: 1020px) {
	.container {
		background-color: #fbfaf6;
		width: 80%;
		margin: 3rem auto;
		padding: 2rem 1rem;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	}
	h3 {
		font-size: 1.5rem !important;
	}
}

#results {
	margin-top: 1rem;
}

balh {
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
	padding: 1rem;
	display: block;
}

balh:nth-of-type(odd) {
	background: rgb(245,245,240);
}

balh:nth-of-type(even) {
	background: rgb(235,235,230);
}

balh:first-of-type {
	border-top: 1px solid grey;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

balh:last-of-type {
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.plt {
	width: 100%;
}

.sub {
	margin-bottom: 0rem;
}