.main-site {
	flex-grow: 1;
	float: left;
	min-height: 100%;
	width: 100%;
	background-position: center center;
}

.container {
	background-color: #fbfaf6;
	width: 80%;
	margin: 3rem auto;
	padding: 3rem 6rem;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}